@import "../variables";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;

  h1 {
    text-align: center;
  }

  p {
    color: $textColor;
  }

  .link {
    color: $primaryColor;
    font-weight: bold;
    text-decoration: none;
  }
}