@import "variables";

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem 2rem;

  p {
    color: $textColor;
    text-align: center;
  }
}

.header {
  text-align: center;
}

.body {
  @media (min-width: $largeScreen) {
    flex-flow: row;
    margin: 40px 0;
    max-width: 720px;
  }

  align-items: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  font-size: 0.85rem;
  justify-content: center;
  max-width: 100%;
}

.section {
  @media (min-width: $largeScreen) {
    max-width: 400px;
  }

  align-items: center;
  background-color: $mainBackgroundColor;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  font-size: 0.85rem;
  height: 250px;
  justify-content: center;
  margin: 20px;
  min-height: 320px;
  width: 92%;

  p {
    margin: 30px;
  }
}

.link {
  color: $primaryColor;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.warning {
  color: white;
}
