.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem;
}

.body {
  align-items: center;
  display: flex;
  flex-flow: row;
  font-size: 0.85rem;
  height: 300px;
  justify-content: center;
}

.section {
  align-items: center;
  background: #eee;
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  flex-flow: column;
  font-size: 0.85rem;
  height: 250px;
  justify-content: center;
  margin: 0 20px;
  width: 400px;

  p {
    margin: 30px;
  }
}

.link {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}
