$mainBackgroundColor: #161620;
$primaryColor: #4fd97f;
$secondaryColor: #f6f6f6;
$headingColor: $secondaryColor;
$textColor: #717171;

$smallScreen: 320px;
$mediumScreen: 768px;
$largeScreen: 1024px;
