@import "../variables";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.header {
  h2 {
    font-size: 16px;
    padding-bottom: 10px;
    text-align: center;
  }
}

.body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.input {
  appearance: none;
  border: 1px solid #000;
  height: 25px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 25px;

  &::-webkit-inner-spin-button {
    appearance: none;;
  }
}

.grid {
  background-color: $secondaryColor;
  border: 2px solid #000;
  border-collapse: collapse;
}

.bottom div {
  border-bottom: 2px solid #000;
}

.right input {
  border-right: 2px solid #000;
}

.row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.solveBtn {
  font-weight: bold;
  height: 40px;
  margin-top: 2rem;
  width: 100px;
}
